:root{
  // buttons
  --button-height: 50px;
  --button-transition-time: .2s;
  //primary
  --button-primary-color: #fff;
  --button-primary-background-color: #030304;
  --button-primary-background-color-hover: #38383a;
  //secondary
  --button-secondary-color: #030304;
  --button-secondary-border-color: #030304;
  --button-secondary-background-color-hover: #EFE6CC;
}